<nav role="navigation" aria-label="Main navigation">
  <!-- <ul class="navigation-list"> -->
  {% if site.tag_nav_enabled %}
  <ul
    class="navside-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}"
  >
    {% assign tags = site.tags | sort %} 
    {% assign my_tags = site.collections | where: "label", "my_tags" | first %} 
    {% for my_tag in my_tags.docs %}
        {% if my_tag.parent == "root" %} 
            <li>
            <a class="parent_tag" href="{{ 'tag/' | relative_url }}{{ my_tag.slug }}">{{ my_tag.name }}</a>
            </li>
            {% if my_tag.children[0] %} 
            <li class="brack">
            [
            </li>
            {% endif %}
            {% for my_in_tag in my_tags.docs %}
                {% if my_tag.slug == my_in_tag.parent %}
                    <li>
                    <a class="child_tag" href="{{ 'tag/' | relative_url }}{{ my_in_tag.slug }}">{{ my_in_tag.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if my_tag.children[0] %} 
            <li class="brack">
            ]
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- {% assign tags = site.tags | sort %} 
    {% assign my_tags = site.collections | where: "label", "my_tags" | first %} 
    {% for tag in tags %}
        {% assign tag_slug = tag | first %}
        {% for my_tag in my_tags.docs %}
            {% if tag_slug == my_tag.slug %}
                {% assign tag_parent = my_tag.parent %}
                {% assign tag_name = my_tag.name %}
                {% if tag_parent == "root" %} 
                    <li>
                    <a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag_name }}</a>
                    </li>
                    {% for my_in_tag in my_tags.docs %}
                        {{ my_in_tag.parent }}
                        {% if tag_slug == my_in_tag.parent %}
                            {% assign tag_in_name = my_in_tag.name %}
                            <li>
                            <a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">- {{ tag_in_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %} -->
  </ul>
  <!-- <ul
    class="navside-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}"
  >
    {% assign tags = site.tags | sort %} {% for tag in tags %} {% if
    forloop.index > 20 %}
    <li>...</li>
    <li><a href="/tags">Show all</a></li>
    {% break %} {% endif %} {% if page.slug == tag[0] %}
    <li>
      <a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">[{{ tag[0] }}]</a>
    </li>
    {% else %}
    <li>
      <a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag[0] }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul> -->
  {% endif %}
  <!--
      {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
      {%- for node in pages_list -%}
        {%- unless node.nav_exclude -%}
          {%- if node.parent == nil -%}
            <li class="navigation-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
              {%- if page.parent == node.title or page.grand_parent == node.title -%}
                {%- assign first_level_url = node.url | absolute_url -%}
              {%- endif -%}
              <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
              {%- if node.has_children -%}
                {%- assign children_list = site.html_pages | where: "parent", node.title | sort:"nav_order" -%}
                <ul class="navigation-list-child-list ">
                  {%- for child in children_list -%}
                    <li class="navigation-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                      {%- if page.url == child.url or page.parent == child.title -%}
                        {%- assign second_level_url = child.url | absolute_url -%}
                      {%- endif -%}
                      <a href="{{ child.url | absolute_url }}" class="navigation-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                      {%- if child.has_children -%}
                          {%- assign grand_children_list = site.html_pages | where: "parent", child.title | sort:"nav_order" -%}
                          <ul class="navigation-list-child-list">
                          {%- for grand_child in grand_children_list -%}
                            <li class="navigation-list-item {% if page.url == grand_child.url %} active{% endif %}">
                              <a href="{{ grand_child.url | absolute_url }}" class="navigation-list-link{% if page.url == grand_child.url %} active{% endif %}">{{ grand_child.title }}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endif -%}
        {%- endunless -%}
      {%- endfor -%}
          
    </ul>
      -->
</nav>
