// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 70px 25px 0 ;
  margin: 0px 0 0;
  //border-bottom: 1px solid $base-border-color;
}

.logo-nav {
  display: block;
  padding: 0px 25px 15px;
  margin: 0px 0 0;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font-family: $sans-serif;
  font-size: 36px;
  font-weight: 550;
  color: $header-logo-color;
  text-decoration: none;
}

.header-links {
  float: center;
  padding: 0px 10px;
  margin: 0px 0 10;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 10px;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
        fill: $header-link-color;
      }
      &:hover svg {
        fill: $header-link-color-hover;
      }
    }
  }
}

.header-tags {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 10px;
    a {
      display: inline-block;
      color: $header-link-color;
      text-decoration: none;
      &:hover { color: $header-link-color-hover; }
    }
  }
}

.navside-tags {
  padding: 0;
  margin: 30px 0;
  list-style: none;
  //position: fixed;
  li {
    //display: inline-block;
    padding-left: 30px;
    a {
      display: inline-block;
      color: $header-link-color;
      text-decoration: none;
      &:hover { color: $header-link-color-hover; }
    }
  }
}

@include breakpoint(small) {
  .navside-tags {
    margin: 5px 5px;
    padding: 0px 5px 5px;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid $base-border-color;
    li {
      display: inline-block;
      padding-left: 10px;
    }
    
  }
  .header-nav {
    padding: 25px 25px 0 ;
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: left;
  }
  .header-links {
    display: block;
    float: none;
    text-align: left;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .header-tags {
    margin: 20px 0 0;
    text-align: left;

    li {
      padding: 0 5px;
    }
  }
}
